{% extends "judge/base.html" %}

{% block title %}
{{problem.id}} - {{problem.name}}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">{{ problem.id }} - {{ problem.name }}</h1>

  <div class="mb-4">
    <h2>Problem Statement</h2>
    <p>{{ problem.statement | linebreaks }}</p>
  </div>

  <div class="mb-4">
    <h2>Input</h2>
    <p>{{ problem.input_format | linebreaks }}</p>
  </div>

  <div class="mb-4">
    <h2>Output</h2>
    <p>{{ problem.output_format | linebreaks }}</p>
  </div>

  <div class="mb-4">
    <h2>Example</h2>
    <p>{{ problem.example | linebreaks }}</p>
  </div>

  <div class="mb-4">
    <h2>Submit Solution</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
{% endblock %}

