{% extends "judge/base.html" %}

{% block title %}
{{problem.id}} - {{problem.name}}
{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">
      <div class="col-md-8">
          <h2>{{ problem.id }} - {{ problem.name }}</h2>
          <p>Time Limit: {{problem.timelimit}} ms</p>
          
          <div class="border rounded p-3 mb-4">
              <h4>Problem Statement</h4>
              <p>
                {{ problem.statement | linebreaks }}
              </p>
                  
          
          </div>

          <h4>Input</h4>
          <p>Input
            {{ problem.input_format | linebreaks }}
          </p>

          <h4>Output</h4>
          <p>                    
            {{ problem.output_format | linebreaks }}
          </p>

          <h4>Example</h4>
          <pre>
            {{ problem.example | linebreaks }}
          </pre>
      </div>
      <div class="col-md-4">
        <h2>Submit Solution</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <button style="margin-top: 10px;"type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>

</div>
{% endblock %}

