{% extends "judge/base.html" %}


{% block content %}
{% load custom_filters %}
<div class="container mt-4">
  <h1>{{ submission.problem.name }}</h1>

  <div class="mb-4">
    <h2>Submission ID: {{ submission.id }}</h2>
    <pre class="bg-dark text-light p-3">{{ submission.code.read|default:''|decode_utf8|linebreaks }}</pre>
  </div>


  <h2>Results:</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Test Case ID</th>
          <th>Input</th>
          <th>Expected Output</th>
          <th>Actual Output</th>
          <th>Verdict</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <td>{{ result.testcase.id }}</td>
            <td>{{ result.testcase.input_data | linebreaks }}</td>
            <td>{{ result.testcase.expected_output | linebreaks }}</td>
            <td>{{ result.actual_output | linebreaks }}</td>
            <td>{{ result.get_verdict_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

